 

html {
	font-size: 62.5%;
	line-height: 1em
}

body,ul,p,h1,h2,h3,dl,dt,dd,li,input,textarea,button {
	margin: 0;
	padding: 0;
	word-break: break-word
}

body {
	text-align: left;
	font-family: Arial,Helvetica,"ÃÔÄã¼ò×¼Ô²",sans-serif;
	background-color: #FFF;
	font-size-adjust: none;
	-webkit-text-size-adjust: none
}

ul,li,dl,dt,dd {
	list-style: none
}

a,a:visited {
	text-decoration: none;
	color: #666;
	outline: 0
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

input,textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0
}

img {
	vertical-align: middle
}

.clearfix:after {
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	visibility: hidden;
	content: "."
}

.fl-l {
	float: left
}

.fl-r {
	float: right
}
 
.hide {
	display: none
}

.tdcenter {
	text-align: center
}  

.mt20 {
	margin-top: 20px!important
}
 

.evePop {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 998;
	width: 225px;
	height: 119px;
	margin: -60px 0 0 -110px
}

.evePop-gray {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 2
}

.evePop dl {
	background-color: #fff;
	border-radius: 9px;
	z-index: 3;
	position: relative;
	font-size: 15px
}

.evePop dt {
	padding: 18px 0;
	line-height: 1.8em;
	text-align: center
}

.evePop .err {
	padding: 10px 0 10px 52px;
	background: url(i_err.png) 17px 17px no-repeat;
	background-size: 26px 26px;
	font-size: 15px;
	color: #333;
	text-align: left
}

.evePop dd {
	border-top: 1px solid #eee;
	text-align: center;
	padding: 11px 15px;
	font-size: 16px
}

.evePop dd a {
	color: #f29406
}

#mfw-main {
	width: 100%;
	margin: 0 auto
}

#mfw-sidebar {
	background: #333;
	height: 900px;
	left: -240px;
	top: 50px;
	position: fixed;
	z-index: 1;
	-webkit-transition: all .2s linear 0s;
	transition: all .2s linear 0s
}

#mfw-sidebar.sidebar-on {
	width: 240px;
	height: 100%;
	left: 0;
	z-index: 99
}

.m-head {
	width: 100%;
	height: 50px;
	background-color: #fff;
	border-bottom: 1px solid #f29406;
	display: table;
	position: relative
}

.m-head a.btn {
	width: 50px;
	height: 50px;
	display: table-cell;
	background: url(i_head5.png) no-repeat;
	background-size: 100px 300px
}

.m-head a.back {
	background-position: 0 0
}

.m-head a.home {
	background-position: -60px -150px
}

.m-head a.message {
	background-position: 0 -100px
}

.m-head a.setting {
	position: absolute;
	top: 0;
	right: 0;
	background-position: -50px -50px;
	text-indent: -200px;
	overflow: hidden
}

.m-head a.additem {
	background-position: -50px 0
}

.m-head a.delitem {
	background-position: 0 -150px
}

.m-head a.submit {
	background-position: -50px 0
}

.m-head a.search {
	background-position: 0 -50px
}

.m-head a.new-mess {
	position: absolute;
	right: 49px;
	top: 10px;
	display: inline;
	padding: 1px 4px;
	color: #fff;
	border-radius: 30px;
	line-height: 1.1em;
	font-size: 11px;
	background-color: #df2021;
	font-style: normal
}

.m-head i.new-mess {
	width: 6px;
	height: 6px;
	position: absolute;
	left: 29px;
	top: 14px;
	background-color: #df2121;
	border: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3)
}

.m-head .bar-c {
	display: table-cell;
	text-align: center;
	line-height: 0;
	font-size: 12px;
	vertical-align: top
}

.m-head .logo {
	display: inline-block;
	padding: 8px 5px 0 50px
}

.m-head h1 {
	font-size: 18px;
	color: #f29406;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	vertical-align: top;
	margin-left: 50px;
	overflow: hidden
}

.m-head .bar-r {
	width: 30px;
	display: table-cell;
	padding: 10px 9px 0 0;
	overflow: hidden;
	vertical-align: top
}

.m-head .avastar {
	width: 30px;
	height: 30px;
	padding: 1px;
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
	position: relative
}

.m-head .avastar img {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	overflow: hidden
}

.m-head .mess {
	position: absolute;
	top: -10px;
	left: 18px;
	display: inline;
	padding: 0 5px;
	color: #fff;
	border-radius: 20px;
	border: 2px solid #fff;
	line-height: 1.4em;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #be1616;
	box-shadow: 0 1px 2px #999
}

.m-head a.ka {
	width: 30px;
	height: 30px;
	padding-left: 10px;
	position: absolute;
	border: 0;
	line-height: 30px;
	color: #fff;
	right: 0;
	top: 10px;
	display: inline-block;
	font-size: 12px;
	background-color: #23a9f8;
	border-radius: 15px 0 0 15px;
	color: #fff
}

.m-head a.myorder {
	display: inline-block;
	font-size: 14px;
	line-height: 32px;
	background-color: #ffa800;
	position: absolute;
	padding: 0 10px 0 15px;
	margin: 0;
	color: #fff;
	right: 0;
	top: 9px;
	border-radius: 16px 0 0 16px
}

.m-nav {
	height: 40px;
	background-color: #f3f3f3;
	overflow: hidden;
	white-space: nowrap
}

.m-nav ul {
	display: table;
	width: 100%
}

.m-nav li {
	display: table-cell;
	text-align: center
}

.m-nav a {
	display: inline-block;
	line-height: 35px;
	color: #515151;
	text-align: center;
	font-size: 18px;
	height: 35px;
	border-bottom: 2px solid #f3f3f3;
	margin: 3px 10px 0
}

.m-nav a.on {
	border-bottom: 2px solid #ffa800;
	color: #ffa800
}

.side-btns {
	position: fixed;
	right: 0;
	bottom: 80px;
	border: 1px solid #dfdfdf;
	border-right: 0;
	border-radius: 3px 0 0 3px;
	background-color: #fff;
	background-color: rgba(255,255,255,.7)
}

.side-btns a {
	width: 43px;
	height: 40px;
	display: block;
	background: url(h_i_s2.png) -50px -50px no-repeat;
	background-size: 100px 400px;
	border-bottom: 1px solid #dfdfdf;
	position: relative
}

.side-btns a.totop {
	background-position: -50px 0
}

.side-btns a.tohome {
	background-position: -50px -50px
}

.side-btns a i {
	position: absolute;
	right: 4px;
	top: 5px;
	display: inline;
	padding: 0 4px;
	color: #fff;
	border-radius: 20px;
	line-height: 1.2em;
	font-size: 11px;
	background-color: #df2021;
	font-style: normal
}

.side-btns a:last-child {
	border: 0
}

.bread-crumb {
	height: 31px;
	margin: 9px 9px 0;
	background: url(postbg11.png) 0 -62px repeat-x;
	background-size: 302px 300px;
	font-size: 16px;
	color: #4c4c4c
}

.bread-crumb a {
	font-size: 16px;
	color: #4c4c4c;
	height: 31px;
	display: inline-block;
	background: url(postbg11.png) 0 -102px no-repeat;
	background-size: 302px 300px
}

.bread-crumb a:visited {
	color: #4c4c4c
}

.bread-crumb span {
	height: 31px;
	display: inline-block;
	background: url(postbg11.png) 0 -102px no-repeat;
	background-size: 302px 300px;
	padding: 0 10px
}

.bread-crumb a.active {
	background: url(postbg11.png) center -102px no-repeat;
	background-size: 302px 300px
}
  
.search-box {
	width: 50px;
	height: 50px;
	position: relative;
	float: right;
	background: #fff url(i_head5.png) no-repeat;
	background-size: 100px 300px;
	background-position: 0 -50px
}

.search-box .search-inner {
	padding: 0
}

.search-box .inp-search {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff url(i_head5.png) no-repeat;
	background-size: 100px 300px;
	background-position: 0 -50px;
	border: 0
}

.search-box a.search-back {
	width: 50px;
	height: 50px;
	position: absolute;
	top: -50px;
	left: 0;
	display: none;
	background: url(i_head5.png?v3) no-repeat;
	background-size: 100px 300px;
	background-position: 0 0
}

.search-box-on {
	width: 100%;
	background: #fff;
	height: 100%;
	min-height: 500px;
	top: 50px;
	left: 0;
	position: absolute;
	z-index: 9
}

.search-box-on .search-inner {
	padding: 6px 8px
}

.search-box-on .search-inner #frm_query {
	background: #ececec url(hotel_sprite4.png) -62px 8px no-repeat;
	background-size: 240px 250px;
	padding-left: 30px;
	border-radius: 6px
}

.search-box-on .inp-search {
	width: 100%;
	height: 14px;
	padding: 8px 0;
	line-height: 14px;
	font-size: 14px;
	color: #666;
	background: 0;
	position: static
}

.search-box-on .inp-search:focus {
	outline: 0
}

.search-box-on a.search-back {
	display: block
}
 

.footerBar {
	margin: 9px 3px 0;
	padding: 5px 0 12px
}

.footerBar:after {
	content: '\20';
	clear: both;
	display: block
}

.footerBar .left-btn {
	width: 180px;
	float: left;
	color: #666;
	font-size: 16px;
	padding: 5px 0 0 9px
}

.footerBar .left-btn a {
	color: #6a4604;
	font-size: 16px
}

.footerBar .left-btn span {
	margin: 0 10px
}

.footerBar .right-btn {
	width: 98px;
	float: right
}

.footerBar .right-btn a {
	display: block;
	width: 68px;
	height: 30px;
	background: #f0f0f0 url(iconbg3.png) 0 -300px no-repeat;
	background-size: 34px 390px;
	padding-left: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px
}

.footerBar .Rlogin {
	width: 98px;
	float: right;
	padding: 5px 0 0;
	text-align: right
}

.footerBar .Rlogin a {
	color: #6a4604;
	font-size: 16px
}

.loginbox {
	margin: 9px 9px 0
}

.null-pop {
	padding: 106px 20px 30px;
	text-align: center;
	color: #878787;
	font-size: 12px;
	line-height: 1.4em;
	background: url(null.png) center 64px no-repeat;
	background-size: 80px 33px
}

.msg-pop {
	width: 190px;
	text-align: center;
	padding: 10px 15px;
	background-color: #000;
	background-color: rgba(0,0,0,.6);
	font-size: 14px;
	color: #fff;
	line-height: 1.6em;
	position: fixed;
	bottom: 0;
	transition: .3s ease-in-out 0s;
	-webkit-transition: .3s ease-in-out 0s;
	opacity: 0;
	left: 50%;
	margin-left: -105px;
	border-radius: 6px
}

.msg-pop-flip {
	bottom: 80px;
	opacity: 1;
	transition: .3s ease-in-out 0s;
	-webkit-transition: .3s ease-in-out 0s
}

.msg-pop i.bee {
	width: 25px;
	height: 17px;
	display: block;
	position: absolute;
	top: -8px;
	left: -12px;
	background: url(flybee1.png) no-repeat;
	background-size: 25px 17px;
	-webkit-animation-name: "flybee";
	-webkit-animation-duration: 1.6s;
	-webkit-animation-iteration-count: infinite
}

@-webkit-keyframes 'flybee' {
	from {
		background: url(flybee1.png) 0 0 no-repeat;
		background-size: 25px 17px
	}

	10% {
		background: url(flybee2.png) 0 0 no-repeat;
		background-size: 25px 17px
	}

	20% {
		background: url(flybee1.png) 0 0 no-repeat;
		background-size: 25px 17px
	}

	30% {
		background: url(flybee2.png) 0 0 no-repeat;
		background-size: 25px 17px
	}

	40% {
		background: url(flybee1.png) 0 0 no-repeat;
		background-size: 25px 17px
	}

	100% {
		background: url(flybee1.png) 0 0 no-repeat;
		background-size: 25px 17px
	}
}

.msg-pop a {
	color: #fff;
	font-size: 14px
}

.msg-pop a.close {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #000;
	background-image: url(postbg11.png);
	background-size: 302px 300px;
	background-repeat: no-repeat;
	background-position: -44px 5px;
	position: absolute;
	top: -8px;
	right: -8px
}

.pushpop {
	width: 100%;
	height: 55px;
	background-color: #000;
	background-color: rgba(0,0,0,.7);
	font-size: 15px;
	color: #fff;
	line-height: 1.4em;
	position: fixed;
	bottom: -80px;
	transition: .2s ease-in-out 0s;
	-webkit-transition: .2s ease-in-out 0s;
	opacity: 0
}

.pushpop-flip {
	bottom: 0;
	opacity: 1;
	z-index: 899;
	transition: .2s ease-in-out 0s;
	-webkit-transition: .2s ease-in-out 0s
}

.pushpop i.bee {
	width: 50px;
	height: 50px;
	display: none;
	position: absolute;
	top: -16px;
	left: 11px;
	-webkit-animation-name: "flipbee";
	-webkit-animation-duration: 1.0s;
	-webkit-animation-iteration-count: infinite;
	background: url(push/bee_a.png) 0 0 no-repeat;
	background-size: 50px 50px;
	-webkit-transform: rotate(10deg)
}

@-webkit-keyframes 'flipbee' {
	from {
		background: url(push/bee_a.png) 0 0 no-repeat;
		background-size: 50px 50px
	}

	10% {
		background: url(push/bee_b.png) 0 0 no-repeat;
		background-size: 50px 50px
	}

	20% {
		background: url(push/bee_a.png) 0 0 no-repeat;
		background-size: 50px 50px
	}

	30% {
		background: url(push/bee_b.png) 0 0 no-repeat;
		background-size: 50px 50px
	}

	40% {
		background: url(push/bee_a.png) 0 0 no-repeat;
		background-size: 50px 50px
	}

	100% {
		background: url(push/bee_a.png) 0 0 no-repeat;
		background-size: 50px 50px
	}
}

.pushpop a.go {
	display: block;
	width: 100%;
	height: 55px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1
}

.pushpop a.close {
	z-index: 2;
	width: 44px;
	height: 55px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: url(push/close2.png) 8px center no-repeat;
	background-size: 24px 24px
}

.pushpop span {
	display: table-cell;
	height: 55px;
	vertical-align: middle;
	padding: 0 50px 0 10px
}

.m-head .bar-r2 {
	width: 40px;
	height: 50px;
	line-height: 50px;
	padding: 0 3px 0 46px
}

.m-head .bar-r a.bar-txt {
	color: #ffa800;
	font-size: 17px
}

.foot-bread {
	padding: 10px 9px;
	background-color: #fff;
	border-bottom: 1px solid #e2e2e2;
	font-size: 12px;
	color: #666
}

.foot-bread a {
	color: #f29406
}

.m-footer {
	border-top: 1px solid #e2e2e2;
	background-color: #f1f1f1;
	padding: 0 9px;
	font-size: 12px;
	color: #666
}

.m-footer a {
	line-height: 1em;
	font-size: 12px;
	color: #666
}

.m-footer .footnav {
	color: #dfdfdf;
	text-align: center;
	padding-top: 12px
}

.m-footer .footnav a {
	margin: 0 8px;
	font-size: 13px
}

.m-footer .footnav a.higtlight {
	color: #ffb73a
}

.m-footer .footnav a:first-child {
	margin: 0 10px 0 0
}

.m-footer .copyright {
	padding: 18px 0 72px;
	color: #999;
	font-size: 10px;
	text-align: center
}

.m-head2 {
	display: block;
	text-align: center
}

.m-head2 .bar-c {
	display: inline-block
}

.m-head2 a.btn {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 50px;
	height: 50px
}

.m-head2 a.tit {
	position: absolute;
	left: 10px;
	top: 0;
	width: auto;
	height: 50px;
	line-height: 50px;
	color: #f29406;
	font-size: 15px;
	text-align: left
}

.m-head2 a.myorder {
	position: absolute;
	right: 0;
	width: 50px;
	height: 50px;
	background: url(shop/order.png) no-repeat;
	background-size: 50px 50px
}

.m-head2 a.message {
	position: absolute;
	right: 0;
	width: 50px;
	height: 50px;
	background: url(i_head5.png) no-repeat;
	background-size: 100px 300px;
	background-position: 0 -100px
}

input:-moz-placeholder {
	color: #c7c7c7
}

::-webkit-input-placeholder {
	color: #c7c7c7
}

.signup {
	clear: both;
	margin: 0 9px
}
 
.signup a.logo {
	width: 200px;
	height: 60px;
	display: block;
	margin: 20px auto;
	background: url(/images/logo.png) no-repeat;
	background-size: 200px 60px
}

.signup .nav {
	text-align: right;
	padding: 10px 9px
}

.signup .nav a {
	font-size: 16px;
	color: #ffa800;
	text-decoration: underline
}

.signup .forms {
	border-radius: 5px;
	border: 1px solid #dadada
}

.signup .forms li {
	border-bottom: 1px solid #dadada;
	position: relative
}

.signup .forms li .input {
	height: 43px;
	background: 0;
	border: 0;
	font-size: 16px;
	line-height: 1em;
	width: 100%;
	text-indent: 11px
}

.signup .forms li:last-child {
	border-bottom: 0
}

.signup .forms .code {
	position: absolute;
	bottom: 2px;
	right: 10px
}

.signup .forms .code img {
	vertical-align: middle
}

.signup .forms .code a {
	font-size: 14px;
	color: #ffa800;
	margin-left: 4px;
	text-decoration: underline
}

.signup .forms .getcode {
	position: absolute;
	bottom: 5px;
	right: 5px
}

.signup .forms .getcode a {
	display: block;
	width: 110px;
	height: 33px;
	line-height: 33px;
	border-radius: 4px;
	text-align: center;
	background-color: #ff8a00;
	font-size: 12px;
	color: #fff;
	white-space: nowrap
}

.signup .forms .getcode a.disabled {
	background: #c1c1c1;
	cursor: default
}

.signup .forms .form-box {
	width: 100%;
	height: 43px;
	z-index: 2
}

.signup .forms .form-box input {
	width: 176px;
	outline: 0
}

.signup .forms .sel-box {
	float: left;
	width: 111px;
	height: 43px;
	line-height: 43px;
	border-right: 1px solid #e3e3e3;
	padding-left: 11px;
	color: #666;
	font-size: 1.4rem
}

.signup .forms .sel-box i {
	border: 5px solid #ffa800;
	border-color: #ffa800 transparent transparent transparent;
	position: absolute;
	left: 98px;
	top: 18px
}

.signup .forms .sel-box .list {
	position: absolute;
	top: 37px;
	left: -1px;
	right: -1px;
	border: 1px solid #d8d8d8;
	background-color: #fff;
	display: none
}

.signup .forms .sel-box dl {
	clear: both;
	border-bottom: 1px solid #f4f4f4;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer
}

.signup .forms .sel-box dl:last-child {
	border: 0
}

.signup .forms .sel-box dl:hover {
	background-color: #f4f4f4
}

.signup .forms .sel-box dt {
	color: #666;
	padding-left: 10px;
	width: 220px;
	float: left
}

.signup .forms .sel-box dd {
	color: #999;
	padding-right: 15px;
	text-align: right
}

.signup .inputs {
	border-radius: 5px;
	border: 1px solid #dadada;
	position: relative
}

.signup .inputs .input {
	height: 43px;
	background: 0;
	border: 0;
	border-bottom: 1px solid #dadada;
	font-size: 16px;
	line-height: 1em;
	width: 100%;
	text-indent: 11px
}

.signup .inputs .input:last-child {
	border: 0
}

.signup .inputs .code {
	position: absolute;
	bottom: 10px;
	right: 10px
}

.signup .inputs .code img {
	vertical-align: middle
}

.signup .inputs .code a {
	font-size: 14px;
	color: #ffa800;
	margin-left: 4px;
	text-decoration: underline
}

.signup .inputs .getcode {
	position: absolute;
	bottom: 5px;
	right: 5px
}

.signup .inputs .getcode a {
	display: block;
	width: 110px;
	height: 33px;
	line-height: 33px;
	border-radius: 4px;
	text-align: center;
	background-color: #ff8a00;
	font-size: 12px;
	color: #fff
}

.signup .inputs .getvcode {
	position: absolute;
	top: 5px;
	right: 5px
}

.signup .inputs .getvcode a {
	display: block;
	width: 75px;
	height: 34px;
	line-height: 34px;
	border-radius: 4px;
	text-align: center;
	background-color: #42afff;
	font-size: 1.3rem;
	color: #fff
}

.signup .inputs .getvcode a.disable {
	background-color: #CCC
}

.signup .sTit {
	padding: 4px 0 12px;
	text-align: left;
	font-size: 13px;
	color: #666
}

.signup .links {
	padding: 4px 0 0;
	text-align: right
}

.signup .links a {
	color: #999;
	font-size: 12px
}

.signup .quick-btns {
	width: 100%;
	padding: 0 0 50px;
	position: relative
}

.signup .quick-btns .line {
	width: 100%;
	position: absolute;
	bottom: 30px;
	height: 0;
	border-top: 1px solid #d8d8d8
}

.signup .quick-btns .line span {
	font-size: 12px;
	color: #CCC;
	display: inline-block;
	background-color: #fff;
	padding: 0 5px;
	top: -8px;
	left: 50%;
	margin-left: -53px;
	position: absolute
}

.signup .quick-btns .btn {
	display: block;
	margin: 10px 0;
	width: 100%;
	font-size: 18px;
	line-height: 34px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #ffba33;
	color: #ffba33;
	border-radius: 5px
}

.signup .quick-btns .btn.wechat {
	background-color: #28c263;
	border-color: #28c263;
	color: #fff
}

.signup .btns {
	width: 100%;
	padding-top: 10px
}

.signup .btns .btn {
	display: block;
	margin: 10px 0;
	width: 100%;
	font-size: 18px;
	line-height: 34px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #ffba33;
	color: #ffba33;
	border-radius: 5px
}

.signup .btns .btn:first-child {
	background-color: #ffba33;
	border: 1px solid #d8b165;
	color: #fff
}

.signup .Tips {
	padding-top: 10px;
	font-size: 13px;
	color: #999;
	line-height: 1.6em
}

.signup .text {
	color: #666;
	line-height: 1.8em;
	text-align: center
}

.signup .text span {
	font-weight: 700;
	color: #d62d00
}

.connect {
	width: 100%;
	margin-top: 40px;
	padding-bottom: 20px
}

.connect .hd {
	border-top: 1px solid #d8d8d8;
	height: 25px;
	width: 100%;
	position: relative
}

.connect .hd span {
	font-size: 12px;
	color: #CCC;
	display: inline-block;
	background-color: #fff;
	padding: 0 5px;
	top: -8px;
	left: 50%;
	margin-left: -66px;
	position: absolute
}

.connect .bd {
	width: 100%;
	display: table
}

.connect .bd li {
	display: table-cell;
	width: 33%
}

.connect .bd a {
	display: block;
	margin: 0 15px;
	border: 1px solid #e6e5e5;
	background-color: #f3f3f3;
	text-align: center;
	color: #666;
	font-size: 14px;
	line-height: 1.4em;
	padding-bottom: 8px;
	border-radius: 5px
}

.connect .bd i {
	width: 40px;
	height: 38px;
	display: inline-block;
	background: url(connect_ico.png) no-repeat;
	background-size: 130px 30px
}

.connect .bd .weibo {
	background-position: 5px 10px
}

.connect .bd .qq {
	background-position: -43px 10px
}

.connect .bd .renren {
	background-position: -95px 9px
}

.codePop {
	width: 280px;
	margin: -60px 0 0 -140px
}

.codePop .codeInput {
	position: relative
}

.codePop .codeInput .input {
	border-radius: 5px;
	border: 1px solid #dadada;
	height: 43px;
	background: 0;
	font-size: 14px;
	line-height: 1em;
	width: 260px;
	text-indent: 8px
}

.codePop .codeInput .code {
	position: absolute;
	bottom: 25px;
	right: 15px
}

.codePop .codeInput .code img {
	vertical-align: middle
}

.codePop .codeInput .code a {
	font-size: 14px;
	color: #ffa800;
	margin-left: 4px;
	text-decoration: underline
}

.codePop dd {
	border: 0;
	padding: 0 0 15px
}

.codePop dd a {
	display: inline-block;
	background-color: #ffa800;
	border: 1px solid none;
	line-height: 22px;
	padding: 5px 14px;
	border-radius: 4px;
	font-size: 14px;
	color: #fff
}

.codePop dd a.exit {
	background-color: #ccc;
	margin-left: 10px
}

.terms {
	margin: 10px 15px 20px;
	font-size: 14px;
	color: #666;
	line-height: 1.6em
}

.terms h1 {
	font-size: 18px;
	padding: 8px 0;
	text-align: center
}

.terms p {
	margin-top: 10px
}

.terms .red {
	color: #F30
}

.tips {
	margin: 20px 0;
	font-size: 14px;
	color: #696969;
	line-height: 1.6em
}

.alert {
	padding: 6px 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-align: left;
	font-size: 14px;
	margin-bottom: 16px;
	line-height: 18px
}
 
.Nav-tab {
	width: 100%;
	display: table;
	padding-bottom: 30px
}

.Nav-tab li {
	display: table-cell;
	width: 50%
}

.Nav-tab a {
	display: block;
	width: 100%;
	line-height: 40px;
	border-top: 2px solid #dadada;
	font-size: 1.5rem;
	color: #999;
	text-align: center;
	background-color: #fafafa
}

.Nav-tab li.on a {
	border-top: 2px solid #ffba33;
	background-color: #fff;
	color: #ffba33
}