html {
	font-size: 62.5%;
	line-height: 1em
}

body,ul,ol,p,h1,h2,h3,dl,dt,dd,li,input,textarea,button {
	margin: 0;
	padding: 0;
	word-break: break-all
}

body {
	text-align: left;
	font-family: Arial,Helvetica,sans-serif,"Hiragino Sans GB";
	background-color: #FFF;
	font-size-adjust: none;
	-webkit-text-size-adjust: none
}

ul,li,dl,dt,dd {
	list-style: none
}

a,a:visited {
	text-decoration: none;
	color: #666
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

img {
	vertical-align: middle
}

.clearfix:after {
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	visibility: hidden;
	content: "."
}

.fl-l {
	float: left
}

.fl-r {
	float: right
}

.hide {
	display: none
} 
 
.header {
	background-color: #fff;
	height: 65px;
	position: relative;
	padding: 0 50px 0 105px
}

.header .logo {
	width: 94px;
	height: 25px;
	display: block;
	background: url(logo_v21.png) 10px 23px no-repeat;
	background-size: 81px 21px;
	padding: 23px 0 0 10px;
	position: absolute;
	left: 0;
	top: 0
}

.header .search {
	width: 100%;
	padding: 18px 0 0
}

.header .search .search-wrap {
	background-color: #f3f3f3;
	border-radius: 15px;
	font-size: 1.2rem;
	padding: 0 35px 0 16px;
	position: relative
}

.header .search input {
	width: 100%;
	border: 0;
	outline: 0;
	height: 10px;
	padding: 10px 0;
	background: 0;
	border-radius: 15px;
	font-size: 1.2rem
}

.header .search .s-btn {
	width: 35px;
	height: 30px;
	border: 0;
	background: url(btn_search2.png) 5px 6px no-repeat;
	background-size: 17px 17px;
	position: absolute;
	right: 0;
	top: 0
}

.header .user {
	position: absolute;
	right: 0;
	top: 0
}

.header .avastar {
	width: 30px;
	height: 30px;
	padding: 1px;
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
	position: absolute;
	top: 17px;
	right: 10px
}

.header .avastar img {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	overflow: hidden
}

.header .mess {
	position: absolute;
	top: 17px;
	right: 5px;
	display: inline;
	padding: 3px 6px;
	color: #fff;
	border-radius: 20px;
	border: 1px solid #fff;
	line-height: 1em;
	font-size: 1.1rem;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #ff7272
}

.header .ka {
	z-index: 1;
	width: 30px;
	height: 30px;
	padding-left: 10px;
	position: absolute;
	border: 0;
	line-height: 30px;
	color: #fff;
	right: 0;
	top: 17px;
	display: inline-block;
	font-size: 1.2rem;
	background-color: #41c6ad;
	border-radius: 15px 0 0 15px;
	color: #fff
}

.sub-head {
	background-color: #fff;
	border-bottom: 1px solid #f29406;
	height: 50px;
	line-height: 45px
}

.sub-head ul {
	width: 100%;
	display: table
}

.sub-head li {
	display: table-cell
}

.sub-head li.btn {
	width: 40px;
	vertical-align: top
}

.sub-head li.mlogo {
	text-align: center;
	vertical-align: top
}

.sub-head li.mlogo a {
	background: rgba(0,0,0,0) url("logo_v21.png") no-repeat scroll 10px 17px / 81px 21px;
	display: inline-block;
	height: 25px;
	padding: 23px 0 0 10px;
	width: 94px
}

.sub-head a.btn {
	background: rgba(0,0,0,0) url("i_head5.png") no-repeat scroll 0 0 / 100px 300px;
	display: table-cell;
	height: 50px;
	width: 50px
}

.sub-head a.btn.back {
	background-position: 0 0
}

.sub-head a.btn.search {
	background-position: -5px -50px
}

.m-frm-head {
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	height: 50px;
	position: relative
}

.m-frm-head .LBtn {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2
}

.m-frm-head .right-btn {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right
}

.m-frm-head .center-btn {
	text-align: center;
	position: relative
}

.m-frm-head .logo {
	width: 94px;
	height: 25px;
	display: inline-block;
	background: url(logo.png) no-repeat;
	background-size: 81px 21px;
	padding: 15px 10px 0
}

.m-frm-head .left-btn .logo {
	padding: 15px 10px 0;
	background-position: 10px 15px
}

.m-frm-head .center-btn .logo {
	padding: 15px 0 0;
	background-position: 0 15px
}

.m-frm-head .center-btn h1 {
	line-height: 50px;
	font-size: 1.6rem;
	font-weight: normal;
	color: #666
}

.m-frm-head .search-box {
	padding: 12px 50px 0 104px
}

.m-frm-head .search-box .search-wrap {
	background-color: #f3f3f3;
	border-radius: 15px;
	font-size: 1.2rem;
	padding: 0 35px 0 12px;
	position: relative
}

.m-frm-head .search-box input {
	width: 100%;
	border: 0;
	outline: 0;
	height: 10px;
	padding: 8px 0;
	background: 0;
	border-radius: 13px;
	font-size: 1.2rem
}

.m-frm-head .search-box .s-btn {
	width: 35px;
	height: 30px;
	border: 0;
	background: url(btn_search2.png) 8px 4px no-repeat;
	background-size: 17px 17px;
	position: absolute;
	right: 0;
	top: 0
}

.m-frm-head .user {
	position: absolute;
	right: 0;
	top: 0
}

.m-frm-head .avastar {
	width: 30px;
	height: 30px;
	padding: 1px;
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 10px
}

.m-frm-head .avastar img {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	overflow: hidden
}

.m-frm-head .mess {
	position: absolute;
	top: 17px;
	right: 5px;
	display: inline;
	padding: 3px 6px;
	color: #fff;
	border-radius: 20px;
	border: 1px solid #fff;
	line-height: 1em;
	font-size: 1.1rem;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #ff7272
}

.m-frm-head .ka {
	z-index: 1;
	width: 30px;
	height: 30px;
	padding-left: 10px;
	position: absolute;
	border: 0;
	line-height: 30px;
	color: #fff;
	right: 0;
	top: 17px;
	display: inline-block;
	font-size: 1.2rem;
	background-color: #41c6ad;
	border-radius: 15px 0 0 15px;
	color: #fff
}

.m-frm-head a.btn2 {
	background: url(i_head5.png) no-repeat;
	background-size: 100px 300px;
	display: inline-block;
	height: 50px;
	width: 50px
}

.m-frm-head a.btn2.back {
	background-position: 0 0
}

.m-frm-head a.btn2.search {
	background-position: -5px -50px
}

.m-frm-head a.btn2.setting {
	background-position: -50px -50px;
	text-indent: -200px;
	overflow: hidden
}

.m-frm-head .ka {
	z-index: 1;
	width: 30px;
	height: 30px;
	padding-left: 10px;
	position: absolute;
	border: 0;
	line-height: 30px;
	color: #fff;
	right: 0;
	top: 10px;
	display: inline-block;
	font-size: 1.2rem;
	background-color: #41c6ad;
	border-radius: 15px 0 0 15px;
	color: #fff
}

.m-frm-head a.myorder {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #ffa800;
	padding: 0 6px 0 10px;
	color: #ffa800;
	border-radius: 16px 0 0 16px;
	margin-top: 12px
}

.m-frm-head a.link {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	padding: 0 6px;
	color: #ffa800;
	margin-top: 12px
}

.m-frm-head .setpop {
	width: 88px;
	position: absolute;
	top: 46px;
	right: 0;
	background: url(loginbg.png) -213px 0 no-repeat;
	background-size: 275px 165px;
	padding-top: 4px;
	z-index: 9
}

.m-frm-head .setpop .con {
	padding: 0 4px 2px;
	background-color: #9f9f9f
}

.m-frm-head .setpop .con a {
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	text-align: center
}

.m-frm-head .setpop .con a:nth-child(1) {
	border-bottom: 1px solid #adadad
}
   
.footer {
	background-color: #2a282c;
	padding-bottom: 17px
}

.footer ul {
	display: table;
	width: 100%;
	padding: 20px 0
}

.footer li {
	display: table-cell;
	vertical-align: top;
	text-align: center
}

.footer li a {
	display: inline-block;
	width: 71px;
	line-height: 22px;
	height: 22px;
	text-align: center;
	border: 1px solid #403e42;
	background-color: #403e42;
	border-radius: 4px;
	font-size: 1.2rem;
	color: #929193
}

.footer li a.on {
	background-color: #2a282c
}

.footer li a.light {
	color: #ff9d00
}

.footer p {
	color: #575658;
	font-size: .9rem;
	text-align: center
}
  

.search-box {
	width: 50px;
	height: 50px;
	position: relative;
	float: right;
	background: #fff url(i_head4.png) no-repeat;
	background-size: 100px 300px;
	background-position: 0 -50px
}

.search-box .search-inner {
	padding: 0
}

.search-box .inp-search {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff url(i_head4.png) no-repeat;
	background-size: 100px 300px;
	background-position: 0 -50px;
	border: 0
}

.search-box a.search-back {
	width: 50px;
	height: 50px;
	position: absolute;
	top: -50px;
	left: 0;
	display: none;
	background: url(i_head4.png?v3) no-repeat;
	background-size: 100px 300px;
	background-position: 0 0
}

.search-box-on {
	width: 100%;
	background: #fff;
	height: 100%;
	min-height: 500px;
	top: 50px;
	left: 0;
	position: absolute;
	z-index: 9
}

.search-box-on .search-inner {
	padding: 6px 8px
}

.search-box-on .inp-search {
	height: 30px;
	padding: 8px 0;
	line-height: 14px;
	font-size: 14px;
	color: #666;
	background: 0;
	position: static;
	width: 100%;
	box-sizing: border-box
}

.search-box-on .inp-search:focus {
	outline: 0
}

.search-box-on a.search-back {
	display: block
}

.search-box-on form {
	margin-right: 35px;
	background: #ececec url(hotel_sprite4.png) -62px 8px no-repeat;
	background-size: 240px 250px;
	padding-left: 30px;
	border-radius: 6px
}

.search-box-on .cancelsearch {
	position: absolute;
	right: 8px;
	top: 6px;
	width: 35px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1.5em;
	color: #f39c11
}  

html {
	font-size: 62.5%;
}

body,ul,p,h1,h2,h3,dl,dt,dd,li,input,textarea,button {
	margin: 0;
	padding: 0;
	word-break: break-all;
}

body {
	text-align: left;
	font-family: Arial,Helvetica,sans-serif,"ººÒÇÆìºÚ";
	background-color: #fff;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
}

ul,li,dl,dt,dd {
	list-style: none;
}

a,a:visited {
	text-decoration: none;
	color: #666;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
	vertical-align: middle;
}

header .back,header .setup,header .msg,.user .user-photo i,.sex, .m-frm-list li .icon,.arrow,.notes li .con span i,.m-frm-top .m-frm-top-btn i {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
}

body {
	color: #333;
	font-size: 1.2rem;
	background-color: #f4f4f4;
}
 
header {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #f29406;
	background-color: #fff;
}

header .title {
	font-size: 1.8rem;
	color: #666;
	text-align: center;
	line-height: 50px;
}

header .back {
	display: block;
	width: 50px;
	height: 50px;
	background-position: 16px -168px;
	position: absolute;
	left: 0;
	top: 0;
}

header .setup {
	display: block;
	width: 40px;
	height: 50px;
	background-position: 9px -218px;
	position: absolute;
	right: 46px;
	top: 0;
}

header .msg {
	display: block;
	width: 40px;
	height: 50px;
	background-position: 9px -268px;
	position: absolute;
	right: 6px;
	top: 0;
}

header .photo {
	display: block;
	width: 30px;
	height: 30px;
	margin: 10px 5px;
	position: absolute;
	right: 6px;
	top: 0;
}

header .photo img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

header.other .msg {
	right: 46px;
}

 
.user {
	width: 100%;
	background-color: #fff;
}

.user .user-info {
	width: 100%;
	height: 135px;
	padding-top: 25px;
	background-size: cover;
	text-align: center;
}

.user .user-photo {
	width: 50px;
	height: 50px;
	padding: 2px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: -1px 1px 5px #666;
	margin: 0 auto;
	position: relative;
}

.user .user-photo img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.user .user-photo i {
	display: block;
	width: 20px;
	height: 20px;
	background-position: 0px -318px;
	position: absolute;
	left: 36px;
	top: 36px;
}

.user .user-level {
	height: 15px;
	margin-top: 12px;
}

.user .user-level .name {
	display: inline-block;
	font-size: 1.6rem;
	color: #fff;
}

.user .user-level .lv {
	display: inline-block;
	width: 30px;
	height: 15px;
	border-radius: 8px;
	text-align: center;
	line-height: 15px;
	color: #7c9bc0;
	background-color: #d6d6d6;
	font-size: 1.0rem;
	overflow: hidden;
	margin-left: 6px;
}

.user .user-level .sex {
	margin-left: 6px;
}

.sex {
	display: inline-block;
	width: 15px;
	height: 15px;
}

.female {
	background-position: 0px -338px;
}

.male {
	background-position: -15px -338px;
}

.user .userCon2 {
	color: #717a8c;
	margin-top: 12px;
}

.user .userCon2 a {
	color: #babfc9;
}

.user .autograph {
	padding: 0 10px;
	height: 44px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	color: #696969;
	line-height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
  
.m-frm-list-index li {
	height: 55px;
	font-size: 1.5rem;
	line-height: 55px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff;
	
}

.m-frm-list-index li a {
	display: block;
	height: 100%;
}

.m-frm-list-index li .icon {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	float: left;
	margin: 15px 10px 0 20px;
}

.m-frm-list-index li.shangdian .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px 0px;
}

.m-frm-list-index li.wallet .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -395px;
}

.m-frm-list-index li.dianping .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -24px;
}

.m-frm-list-index li.youji .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -48px;
}

.m-frm-list-index li.wenda .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -72px;
}

.m-frm-list-index li.wengweng .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -96px;
}

.m-frm-list-index li.jieban .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -120px;
}

.m-frm-list-index li.huodong .icon { 
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -144px;
}

.m-frm-list-index li.order .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -419px;
}

.m-frm-list-index li.coupon .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -443px;
}

.m-frm-list-index li.collect .icon {
	background: url(sprite3.png) no-repeat;
	background-size: 30px 525px;
	background-position: 0px -467px;
}

.m-frm-list-index li .arrow {
	display: block;
	width: 8px;
	height: 13px;
	background-position: 0 -353px;
	float: right;
	margin: 21px 20px 0 10px;
}

.m-frm-list-index li .txt {
	color: #c1c1c1;
	float: right;
}

.m-frm-list-index li .org {
	color: #ff9d00;
	margin-left: 4px;
}

.m-frm-li-index li.wallet,.m-frm-li li.jieban,.m-frm-list-index li.coupon {
	margin-bottom: 10px;
}

.m-frm-li-index li.shangdian a {
	display: inline-block;
}

.m-frm-li-index li .dakaBtn {
	display: block;
	width: auto;
	padding: 0 5px;
	height: 30px;
	border-radius: 2px;
	background-color: #288dd9;
	color: #fff;
	text-align: center;
	line-height: 30px;
	float: right;
	margin: 12px 20px 0 10px;
}  

.m-frm-top {
	height: 72px;
	margin-bottom: 10px;
	background-color: #fff;
}

.m-frm-top .num {
	width: 28%;
	float: left;
	padding-top: 10px;
	text-align: center;
	line-height: 28px;
	color: #696969;
}

.m-frm-top .num span {
	display: block;
	font-size: 2.1rem;
	color: #f39c11;
}

.m-frm-top .line {
	display: block;
	float: left;
	width: 1px;
	height: 26px;
	margin-top: 23px;
	background-color: #e2e2e2;
}

.m-frm-top .m-frm-top-btn {
	display: block;
	float: right;
	width: 115px;
	height: 32px;
	border: 1px solid #f39c11;
	border-radius: 16px;
	color: #f39c11;
	font-size: 1.5rem;
	text-align: center;
	line-height: 32px;
	margin-top: 19px;
	margin-right: 15px;
}

.m-frm-top .m-frm-top-btn i {
	display: inline-block;
	position: relative;
	top: 4px;
	margin-right: 3px;
	width: 23px;
	height: 18px;
	background-position: 0 -366px;
}
  
.m-frm-null {
	background-color: #fff;
	padding: 60px 0;
}

.m-frm-null img {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.m-frm-null p {
	color: #c1c1c1;
	text-align: center;
	line-height: 60px;
}
 

html,body {
	min-height: 100%;
}

img {
	max-width: 100%;
}

body {
	background-color: #fcfcfc;
	overflow-x: hidden;
}

.container {
	color: #696969;
	overflow-x: hidden;
}

.text-shadow {
	text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

  
.filter {
	height: 44px;
	padding: 7px 0;
	box-sizing: border-box;
	border-bottom: 1px solid #e2e2e2;
	background-color: #fcfcfc;
	position: relative;
	z-index: 5;
}

.filter.fixed {
	position: fixed;
	width: 100%;
	top: 0;
}
    
.gender {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(sprites4.png) no-repeat 0 0;
	background-size: 100px;
	overflow: hidden;
	vertical-align: -2px;
}

.gender.male {
	background-position: -15px 0;
}

.gender.female {
	background-position: 0 0;
} 

.m-frm-foot {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 6;
	width: 100%;
	height: 50px;
	background-color: rgba(255,255,255,0.95);
	border-top: 1px solid rgba(0,0,0,0.1);
	box-sizing: border-box;
	padding: 10px 15px;
	text-align: center;
}

.m-frm-foot .btn-group {
	display: table;
	width: 100%;
}

.btn-sort {
	display: table-cell;
	width: 65px;
	font-size: 12px;
	color: #a4a4a4;
	box-sizing: border-box;
	height: 30px;
	padding: 4px 0;
	line-height: 22px;
	text-align: left;
}

.btn-sort:before {
	content: '';
	float: left;
	margin: 3px 6px 0 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(sprites4.png) no-repeat 0 -15px;
	background-size: 100px;
}

.btn-sort:after {
	content: '';
	float: right;
	margin-right: 7px;
	height: 23px;
	width: 1px;
	background-color: #e5e5e5;
	overflow: hidden;
}

.m-frm-foot .btn-add,.m-frm-foot .btn-join {
	display: table-cell;
	box-sizing: border-box;
	height: 30px;
	background-color: #f39c11;
	border-radius: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
}

.m-frm-foot .space {
	display: table-cell;
	width: 11px;
}

.m-frm-foot .btn-attention {
	display: table-cell;
	width: 50%;
	height: 30px;
	border: 1px solid #f39c11;
	border-radius: 3px;
	color: #f39c11;
	line-height: 28px;
	background-color: #fff;
	font-size: 14px;
}

.m-frm-foot .btn-join {
	border-radius: 3px;
}  
.streak {
	height: 5px;
	background: url(streak-bg.png) repeat-x 0 0;
	background-size: 3px;
}
 
.m-frm-publish {
	position: relative;
	transition: transform 0.3s ease-out 0s;
	-webkit-transition: transform 0.3s ease-out 0s;
}

.m-frm-publish [class^="mod"] {
	padding: 15px 15px 1px 20px;
	background-color: #fff;
}
 
.m-frm-publish h2 {
	margin-bottom: 15px;
	font-size: 15px;
	font-weight: normal;
}

.m-frm-publish .bd:after,.upload-photo:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
}

.m-frm-publish .mod-title input[type="text"] {
	height: 26px;
	border: none;
	padding: 0;
	margin: 0 0 15px;
	line-height: 26px;
	font-size: 13px;
	color: #696969;
	width: 100%;
	box-sizing: border-box;
}
  
.m-frm-div h2 span {
	margin-left: 10px;
	font-size: 11px;
	color: #a4a4a4;
}

.m-frm-div .bd {
	margin-right: -15px;
}

.m-frm-div input {
	width: 100%;
	height: 38px;
	border: none;
	padding: 0;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
	line-height: 38px;
	font-size: 13px;
	padding-left:10px;
	color: #333;
}

.m-frm-div textarea {
	width: 100%;
	height: 88px;
	border: none;
	padding: 0;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box; 
	padding-left:10px;
	padding-top:10px;
	font-size: 13px;
	color: #333;
}

.m-frm-div li:last-child input {
	border: none;
}

.m-frm-body textarea {
	border: none;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	font-size: 11px;
	line-height: 14px;
}

.m-frm-body textarea + p {
	padding: 5px 0;
	text-align: right;
	font-size: 13px;
}

.m-frm-body .char {
	color: #3dc7ae;
}

.m-frm-body .char.err {
	color: #ff7272;
} 
 
  
@media (max-width:640px) {
	.top-num span {
		margin: -5px 10px 0;
	}

	.lists {
		padding: 10px 0 0 10px;
	}

	.lists li a {
		margin: 0 10px 10px 0;
	}

	.lists .title {
		padding: 13px 10px;
	}

	.lists .title h3 {
		width: 100%;
		height: 20px;
		text-overflow: ellipsis;
		overflow: hidden;
		box-sizing: border-box;
	}

	.detail-head .cover-info,.base-info {
		padding-left: 15px;
		padding-right: 15px;
	}
}
  
body {
	background-color: #f8f8f8;
}

.m-frm-head .setpop {
	width: 88px;
	position: absolute;
	top: 46px;
	right: 0;
	background: url(/mobile/images/loginbg.png) -213px 0 no-repeat;
	background-size: 275px 165px;
	padding-top: 4px;
	z-index: 9;
}

.m-frm-head .setpop .con {
	padding: 0 4px 2px;
	background-color: #9F9F9F;
}

.m-frm-head .setpop .con a {
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	text-align: center;
}

.m-frm-head .setpop .con a:nth-child(1) {
	border-bottom: 1px solid #adadad;
}

.m-frm-head .center-btn h1 {
	font-weight: normal;
	color: #5f5f5f;
}

.user-head .user-tab {
	white-space: nowrap;
	background-color: #fff;
	border-bottom: 1px solid #e5e1df;
}

.user-head .user-tab ul {
	display: table;
	width: 100%;
}

.user-head .user-tab li {
	display: table-cell;
	text-align: center;
	padding-bottom: 1px;
	line-height: 1.4em;
	height: 40px;
	overflow: hidden;
	padding-top: 8px;
	font-size: 1.2rem;
}

.user-head .user-tab li:last-child {
	background: none;
}

.user-head .user-tab li.on {
	border-bottom: 3px solid #FEB828;
}

.user-head .user-tab li.on a {
	color: #fd9627;
}

.user-head .user-tab li.on span {
	color: #fd9627;
}

.user-head .user-tab li a {
	display: block;
	color: #5f5f5f;
}

.user-head .user-tab li span {
	font-size: 1.2rem;
	font-weight: normal;
	color: #a4a4a4;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	padding-bottom: 1px;
	line-height: 1em;
}
 
/*¶©µ¥ÁÐ±í*/
.m-frm-list {
	margin-top: 20px;
}

.m-frm-list li {
	padding: 0 5%;
	background-color: #fff;
	color: #202020;
	margin-bottom: 20px;
}

.m-frm-list li .company {
	height: 45px;
	font-size: 1.2rem;
	line-height: 45px;
	color: #a4a4a4;
	border-bottom: 1px solid #e9e9e9;
}

.m-frm-list li .company span {
	display: inline-block;
	max-width: 60%;
	height: 100%;
	padding-right: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.m-frm-list li .company i {
	font-style: normal;
	float: right;
	color: #ff9d00;
}

.m-frm-list li .item {
	padding: 18px 0 13px;
	border-bottom: 1px solid #e9e9e9;
}

.m-frm-list li .item .title {
	height: 34px;
	font-size: 1.4rem;
	line-height: 17px;
	width: 70%;
	overflow: hidden;
	float: left;
	color: #333;
}

.m-frm-list li .item .price {
	height: 34px;
	font-size: 1.4rem;
	line-height: 17px;
	width: 30%;
	overflow: hidden;
	float: right;
	text-align: right;
}

.m-frm-list li .item .price span {
	display: block;
	color: #c1c1c1;
}

.m-frm-list li .item .hotel {
	height: 26px;
	font-size: 1.3rem;
	line-height: 26px;
	color: #c1c1c1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	clear: both;
}

.m-frm-list li .item .hotel .refund-status {
	font-size: 1.2rem;
	float: right;
	color: #FF7373;
}

.m-frm-list li .other {
	height: 45px;
	font-size: 1.2rem;
	line-height: 45px;
	text-align: center;
	color: #696969;
	border-bottom: 1px solid #e9e9e9;
}

.m-frm-list li .info {
	height: 50px;
	line-height: 50px;
}

.m-frm-list li .info .num {
	display: block;
	float: left;
	width: 50px;
	font-size: 1.2rem;
	color: #c1c1c1;
	overflow: hidden;
}

.m-frm-list li .info .total {
	display: block;
	float: left;
	font-size: 1.6rem;
	color: #333;
}

.m-frm-list li .info .btn {
	display: block;
	float: right;
	width: auto;
	padding: 0 5px;
	height: 28px;
	border: 1px solid #ff9d00;
	background-color: #ff9d00;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	line-height: 28px;
	border-radius: 2px;
	margin-top: 10px;
}

.m-frm-list li .info .btn.orderight-btn {
	border-color: #696969;
	background-color: #fff;
	color: #696969;
}  

.btn-more {
	background-color: #f2f2f2;
	display: block;
	margin: 4px 10px 12px;
	text-align: center;
	line-height: 42px;
	font-size: 14px;
	color: #f79e04;
	border: 1px solid #e0e0e0;
}
 
.hide {
	display: none
}

td,th {
	padding: 3px;
	line-height: 1.5
}