# APACHE REWRITE RULE

RewriteEngine on
RewriteBase /seller/
 
RewriteRule ^login$		sso.php?cmd=login [L]
RewriteRule ^do.sso$		do.sso.php [L]
RewriteRule ^logout$		do.sso.php?ac=logout [L]
RewriteRule ^helper$		ajax/ajax\.helper\.php [L]